.roles {
    position: relative;
}


.roles__list {
    position: absolute;
    top: 40px;
    padding: 20px 0;
    font-family: 'SourceSansPro';
    z-index: 1050;
    background-color: #fff;
    box-shadow: -1px 0 4px 0 rgba(179, 179, 179, 0.5), 1px 2px 4px 0 rgba(179, 179, 179, 0.5);

    .searchMode & {
      top: 80px;
    }
}

.roles__item {
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    float: left;
    color: #464547;
    padding: 3px 8px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    margin-bottom: 14px;
    margin-left: 2%;
    margin-right: 2%;
}

.role__selected {
    background-color: #39c3d8;
    border-color: #39c3d8;
}
