.search-bar {
    position: relative;
}

.search-bar__wrapper {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 1050;
}

.searchMode .search-bar__wrapper {
  height: 80px;
}

.search-bar__location, .search-bar__role, .search-bar__sort {
    margin-top: 10px;
    display: inline-block;
    color: #999999;
    font-family: SourceSansPro;
    font-size: 80%;
    font-weight: 600;

}

.search-bar__role--active, .search-bar__location--active {
    color: #39C3D8;
}

.search-bar__location {
    margin-right: 16px;
}

.search-bar__arrow-down, .search-bar__arrow-up {
    margin-left: 3px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
}

.search-bar__arrow-down {
    background: url(../../images/chevron-down.svg) no-repeat;

}

.search-bar__arrow-up {
    background: url(../../images/chevron-up.svg) no-repeat;
}

.search-bar__search, .search-bar__view {
    margin-top: 10px;
    float: right;
    width: 30px;
    height: 20px;
    background: url(../../images/web-search.svg) no-repeat;
    background-size: contain;
}

.search-bar__view {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.search-bar__view-list {
     background: url(../../images/list-mode.svg) no-repeat;
}

.search-bar__view-card {
     background: url(../../images/card-mode.svg) no-repeat;
}

.search-bar__field {
    margin-top: 4px;
    border-radius: 18px;
    background-color: #ffffff;
    border:  1px solid #999999;
    display: inline-block;
    width: 83%;

}

.search-bar__input {
    border: none;
    height: 28px;
    width: 85%;
    margin-left: 10px;
}

.search-bar__close {
    width: 20px;
    height: 20px;
    background: url(../../images/search-close.svg) no-repeat;
    vertical-align: middle;
    display: hidden;
}

.search-bar__close--show {
  display: inline-block;
}

.search-bar__back {
    display: inline-block;
    width: 10px;
    height: 18px;
    background: url(../../images/chevron-right.svg) no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.search-bar__sort {
  float: right;
}

.search-bar__sort-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../../images/sort.svg) no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
